//colores
$dark-purple: #3A3E63;
$footer-dark-footer: #313455;
$white: #ffffff;
$pastel-orange: #E74646;

//font
$main-font-family: 'Lato';
$font-size-btns: 10px;
$font-size-p: 16px;
$font-size-h1: 50px;
$font-size-smaller: smaller;
