@import 'variables';
body{
	font-family: $main-font-family;
}
.top-wrapper{
	background-color: $dark-purple;
}
.navbar-default{
	background-color: $dark-purple;
}
.navbar{
	margin-left: 5em;
	margin-right: 5em;
}
.navbar-default{
	border: none;
	border-radius: 0px;
}
.navbar-right >li >a{
	color: red;
}

.jumbotron{
	background-color: $dark-purple;
}
.jumbotron > h1{
	text-align: center;
	color: $white;
	font-size: $font-size-h1;
}
.jumbotron >  p{
	font-size: $font-size-p;
	color: $white;
	text-align: center;
	font-family: sans-serif;
  font-weight: lighter;
}
.btn-primary{
	margin-top: 3em;
	background-color:$pastel-orange;
	border: none;
	border-radius: 0px;
	font-size: $font-size-btns;
}
