@import 'variables','functions';

body {
	font-family: $main-font-family;
}

.top-wrapper {
	background-color: $dark-purple;
}

.navbar-default {
	background-color: $dark-purple;
}

.navbar {
	margin-left: em(70px,$font-size-p);
	margin-right: em(70px,$font-size-p);
}

.navbar-default {
	border: none;
	border-radius: 0;
}

#header-second-spot {
	color: $white;
}

.navbar-default .navbar-nav > li > a {
	color: $white;
}

.jumbotron {
	background-color: $dark-purple;
}

.jumbotron > h1 {
	text-align: center;
	color: $white;
	font-size: $font-size-h1;
}

.jumbotron > p {
	font-size: $font-size-p;
	color: $white;
	text-align: center;
	font-family: sans-serif;
	font-weight: lighter;
}

.btn-primary {
	margin-top: 3em;
	background-color: $pastel-orange;
	border: none;
	border-radius: 0;
	font-size: $font-size-btns;
}
.services, .portafolio{
	background-color: $white;
}
.servicebx{
  text-align: center;
	margin-bottom:em(44px,$font-size-p);
}
.servicebx > h5{
	font-weight: bold;
}
.servicebx > p{
	color:$ligth-grey;
}
/*imgs portafolio*/
.portafolio > .container{
	margin-left:-15px;
  width:100%;
  height:100%;
}
.img-portafolio{
	width: 400px;
	height: 250px;
}
.img-last-portafolio{
	height: 250px;
	width: 316px;
}

footer {
	background-color: $dark-purple;
}

.footer-header {
	color: $white;
	text-align: center;
}

.footer-p {
	color: $white;
	text-align: center;
	font-size: $font-size-smaller;
}

.footer-copyright {
	background-color: $footer-dark-footer;
	text-align: center;
	color: $white;
}

.btn-default {
	background-color: $dark-purple;
	color: $white;
	border-width: initial;
	border-color: $white;
	border-radius: 0;
}

.footer-social-med {
	display: flex;
	flex-wrap: wrap;
	margin-left: 133px;
}
